// Place all the styles related to the adopters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// confetti source: https://codepen.io/fionnachan/pen/EvaqOB

// The content had to be moved to the notify.html.erb page as it was screwing up the site. 
// body {
//     margin: 0;
//     overflow: hidden;
// }

.wrapper {
    position: relative;
    min-height: 100vh;
}

[class|="confetti"] {
    position: absolute;
}

$colors: (#d13447, #fffb00, #0e40f5);

@for $i from 0 through 150 {
    $w: random(8);
    $l: random(100);
    .confetti-#{$i} {
        width: #{$w}px;
        height: #{$w*0.4}px;
        background-color: nth($colors, random(3));
        top: -10%;
        left: unquote($l+"%");
        opacity: random() + 0.5;
        transform: rotate(#{random()*360}deg);
        animation: drop-#{$i} unquote(4+random()+"s") unquote(random()+"s") infinite;
    }

    @keyframes drop-#{$i} {
        100% {
        top: 110%;
        left: unquote($l+random(15)+"%");
        }
    }
}